@CHARSET "UTF-8";

tr:hover {
	background: #DFDFDF !important;
}

td:first-child + td,
td:first-child + td + td + td,
td:first-child + td + td + td + td + td,
td:first-child + td + td + td + td + td + td + td,
td:first-child + td + td + td + td + td + td + td + td + td {
	background: #ffebe8;
}
