@CHARSET "UTF-8";

#minimeu td a {
	display: block;
}

tr:hover,
td:first-child + td:hover,
td:first-child + td + td + td:hover,
td:first-child + td + td + td + td + td:hover,
td:first-child + td + td + td + td + td + td + td:hover,
td:first-child + td + td + td + td + td + td + td + td + td:hover {
	background: #DFDFDF !important;
}

td:first-child {
	width: 30%;
}

td:first-child + td,
td:first-child + td + td + td,
td:first-child + td + td + td + td + td,
td:first-child + td + td + td + td + td + td + td,
td:first-child + td + td + td + td + td + td + td + td + td {
	background-color: #ffebe8;
}

.col1, .col3, .col5,
.col7, .col9, .col11 {
	background-color: #ffebe8;
}
